body {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url(https://thumbs.dreamstime.com/z/digital-art-illustrator-background-repeat-cube-used-as-background-image-painting-advertising-media-digital-art-140012508.jpg);
}

#thirdDiv {
    height: 600;
    width: 500;
    background-color: blue;
    padding: 50px;
    border: 1px solid aqua;
}

/* .divClass {

} */

#spanId {
    font-size: 18px;
    margin: 50px;
}

h1 {
    color: red;
}

img {
    width: 400px;
}